main{
    padding: 2rem 4vw;
    width: 100%;
}
main section{
    padding-top: 4.5rem;
    transition: 1s all ease-in-out;
    opacity: 0;
    margin-bottom: -1.5rem;
}
.appear{
    opacity: 1;
    
}

