.experienceItem{
    position: relative;
    margin-bottom: 40px;
}
.experienceItem__img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: clamp(200px, 50%, 600px);
    transform: scaleX(0);
    background-color:#04213081 ;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    transform-origin: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius : 10px;
}

.experienceItem:hover .experienceItem__img {
    transform: scaleX(1);
}
.experienceItem__data{
    display: flex;
    text-align: justify;
}
.experienceItem__leftbar{
    width: 5px;
    flex-shrink: 0;
    background-color: #042130;
    border-radius: 5px;
    margin-right: 2rem;
}
.experienceItem__title{
    color: #185A79;
    font-size: clamp(1.3rem, 2vw, 2rem);
}
.experienceItem__clgDate{
    display: flex;
    justify-content: space-between;
    color: #018BCC;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.experienceItem__clgDate h2{
    font-size: clamp(1.15rem, 1.4vw, 1.4rem);
    text-align: left;
}
.experienceItem h2:nth-of-type(1){
    margin-right: 20px;
}


@media (max-width:750px) {
    .experienceItem__leftbar{
        margin-right: 1rem;
    }
 }